.env
/.vscode
/Data/application_test.csv
/Data/application_train2.csv
/Data/bureau_balance.csv
/Data/bureau.csv
/Data/credit_card_balance.csv
/Data/HomeCredit_columns_description.csv
/Data/installments_payments.csv
/Data/POS_CASH_balance.csv
/Data/previous_application.csv
/Data/sample_submission.csv


